<div class="jumbotron fluid hero-content">
  <div class="hero-message text-center">
    <h1>Workout Lounge!</h1>
    <p>Show off your workout.</p>
    <%= link_to "Register Now", "#", class: "btn btn-dark" %>
  </div>
</div>
