<div class="card new-workout">
  <div class="card-body">
    <h3 class="card-title">New Workout</h3>
    <%= render 'form_workout' %>
  </div>
</div>
<%= link_to "Back", dashboard_root_path, class: "btn btn-link" %>
