<div class="athletes">
  <h1 class="text-center">Athletes</h1>
  <div class="athlethes-profiles">
    <div class="row">
        <%= render 'layouts/athletes_card' %>
    </div>
    <div class="row">
      <div class="col-md-12 pagination">
          <%= paginate @athletes %>
      </div>
    </div>
  </div>
</div>
